<div class="container">
 <%= form_for([@member,@member.photos.build], html: {
                                    	:multipart => true,
                                    	class:"form-light padding-15"}) do |f| %>
      <div class="modal-body">
   <div class="errors"><% if @photo.errors.any? %>   
   	<%= @photo.errors.full_messages %>
   	<% end %>  
   	</div>                 	
      
 
  

    <div class="control-group">
    <%= f.file_field :data  %>
    </div>
     
          
        </div>  
          <div class="modal-footer">
    <%= button_tag 'Upload Picture',:class=> "btn btn-primary" %>
     
       </div>                	
<% end %>
</div>

<%= render 'show' %>

